:root {
  --heading-color: #140c00;
  --text-color: #332f2b;
  --background-color: #fff5e8;
}

html {
  font-size: 112.5%;
  font-family: Roboto;
  line-height: 1.4;
  height: 100%;
}

@media (min-width: 800px) {
  html {
    font-size: 150%;
  }
}

/*body {*/
/*  background-color: var(--background-color);*/
/*}*/

/* Display title */
/*h1 {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr min-content min-content 1fr;*/
/*  grid-column-gap: 0.2em;*/
/*  align-items: baseline;*/
/*  font-family: "Playfair Display", serif;*/
/*  font-weight: 900;*/
/*  font-size: 9vmax;*/
/*  width: 100%;*/
/*  margin-top: 0.25em;*/
/*  margin-bottom: 1em;*/
/*  padding-bottom: 0.75em;*/
/*  line-height: 1;*/
/*  color: var(--heading-color);*/
/*}*/

h1 [data-value="5"] {
  font-size: 5.75em !important;
  grid-column: 2;
  color: #fff;
}

h1 [data-value="of-my"] {
  grid-column: 3;
  grid-row: 1;
  font-family: "Playfair Display SC";
  font-weight: 700;
  letter-spacing: 0.01em;
  position: relative;
  top: -1.9em;
  font-size: 0.5em;
  color: #fff;
}

h1 [data-value="favourite"] {
  grid-column: 3;
  grid-row: 1;
  font-size: 1em;
  color: #fff;
}

h1 [data-value="books"] {
  grid-column: 3;
  grid-row: 1;
  font-size: 1em;
  position: relative;
  top: 1em;
  color: #fff;
}

h1::after {
  content: "";
  position: relative;
  top: -0.25em;
  grid-column: 1 / -2;
  height: 0.075em;
  background-color: var(--heading-color);
}

main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 8vmax;
}

main > * {
  grid-column: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}

.book {
  display: grid;
  max-width: 30rem;
  grid-column-gap: 1rem;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: min-content min-content;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  color: #fff
}

.book:nth-child(odd) {
  transform: translate3d(-1.5rem, 0, 0);
}

.book:nth-child(even) {
  transform: translate3d(1.5rem, 0, 0);
}

.book.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.book img {
  grid-column: 1;
  grid-row: span 2;
}

.book h2 {
  grid-column: 2;
  align-self: end;
  font-size: 1rem;
  font-family: Roboto Slab;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.book .comment {
  grid-column: 2;
  color: #fff;
}

.book + .book {
  margin-top: 2rem;
}

p + p {
  margin-top: 0.5rem;
}
